.splash-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  img {
    width: 180px;
    margin-bottom: 20px;
  }
}
