<ion-content [fullscreen]="true" class="login-content">
  <h1>Login</h1>

  <!-- Phone Input Row -->
  <div class="phone-container">
    <!-- +63 Prefix -->
    <ion-item class="phone-box prefix-box" fill="outline" lines="none">
      <ion-label class="prefix-label">(+63)</ion-label>
    </ion-item>

    <!-- Phone Number Input -->
    <ion-item class="phone-box input-box" fill="outline" lines="none">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input
        type="tel"
        inputmode="numeric"
        pattern="[0-9]*"
        maxlength="10"
        [(ngModel)]="phone"
        (ionInput)="restrictPhoneInput($event)">
      </ion-input>
    </ion-item>
  </div>

  <!-- Password -->
  <ion-item class="custom-input center-input" fill="outline">
    <ion-label position="floating">Password</ion-label>
    <ion-input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      name="password"
      required
      (focus)="passwordFocused = true"
      (blur)="passwordFocused = false"
      class="center-text">
    </ion-input>
    <ion-icon
      *ngIf="password || passwordFocused"
      slot="end"
      [name]="showPassword ? 'eye-off' : 'eye'"
      (click)="togglePasswordVisibility()"
      style="cursor: pointer; font-size: 22px;">
    </ion-icon>
  </ion-item>

  <!-- Remember Me / Forgot Password -->
  <div class="checkbox-forgot-row">
    <ion-item lines="none" class="checkbox-row">
      <ion-checkbox slot="start" [(ngModel)]="rememberMe" name="rememberMe" class="custom-checkbox"></ion-checkbox>
      <ion-label class="checkbox-label">Remember Me</ion-label>
    </ion-item>
    <a class="forgot-password" (click)="goToForgotPassword()">Forgot Password?</a>
  </div>

  <!-- Login Button -->
  <ion-button expand="block" class="login-button" (click)="login()">Login</ion-button>

  <!-- Register Link -->
  <div class="bottom-text">
    <span>New User?
      <a (click)="goToRegister()" class="create-link">Create Account</a>
    </span>
  </div>
</ion-content>
